body {
  background: linear-gradient(rgba(255, 255, 255, 0.041), rgba(255,255,255,.5)), url("/assets/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  font-family: 'Noto Sans SC', sans-serif;
}

.sidenav-entry {
  font-size: 25px !important;
}

.header-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  padding-bottom: 3px;
  margin: auto;
  font-size: 10px;
  background-color: aliceblue;
}

.header-container h1{
  font-size: 45px;
}

.header-container h3{
  font-size: 30px;
}

.form-container {
  height: 100%;
  padding-bottom: 4px;
  background-color: aliceblue;
}

.form-container h3 {
 font-size: 20px;
 margin: auto;
}
.form-in-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
}

.form {
  display: flex;
  margin: auto;
  height: 30px;
}

.form .input-text {
  height: 30px !important;
}

.content {
  margin-top: 30px;
}
.news-title {
  font-size: 35px;
  margin-top: 0px;
  margin-right: 14px;
  margin-bottom: 10px;
  margin-left: 35px;
}

.news-date {
  margin-bottom: 5px;
  margin-left: 35px;
  width: 55%;
}
.news-source {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 35px;
}

.news-summary {
  font-size: 18px;
  margin-left: 35px;
  width: 80%;
}

.img-container {
  margin: 0 auto;
  width: 91%;
}

.news-link {
  font-size: 18px;
  margin-left: 35px;
}
